---
import Container from "./Container.astro";
---

<footer class="w-full min-h-[100vh] mt-10 flex items-center justify-center bg-dribble-night text-slate-50">
    <Container>
        <div class="flex flex-col items-start justify-center max-w-4xl">
            <h4 class="font-unbounded text-4xl md:text-6xl font-bold">
                Aca te dejo algunos links para comunicarte conmigo 🚀.
            </h4>
            <!-- contactos links media -->
            <ul class="flex flex-col md:flex-row gap-3 mt-5">
                <li><a class="underline text-base text-purple-500" href="#">Instagram</a></li>
                <li><a class="underline text-base text-purple-500" href="#">Linkedin</a></li>
                <li><a class="underline text-base text-purple-500" href="#">Github</a></li>
                <li><a class="underline text-base text-purple-500" href="#">Behance</a></li>
            </ul>
        </div>
    </Container>
</footer>