<div class="flex flex-col items-center text-center pt-16">
  <div class="max-w-xs md:max-w-lg lg:max-w-full">
    <h1 class="text-4xl md:text-7xl lg:text-7xl font-unbounded font-black bg-gradient-to-b from-dribble-night to-slate-800 bg-clip-text text-transparent">
      Hola! Soy Naissky Programador Web Frontend
    </h1>
    <p class="text-lg max-w-lg mx-auto text-dribble-night/70 mt-3">
      Me presento, soy un programador con experiencia en el desarrollo de aplicaciones web y sitios web responsivos.
    </p>
    <div class="flex items-center justify-center gap-2.5 mt-5">
      <!-- <a href="#" class="bg-dribble-yellow px-4 py-1.5 rounded-2xl hover:bg-dribble-night/20">
        Linkedin
      </a> -->
      <a href="https://github.com/naissky" target="_blank" class="transition bg-purple-500 px-4 py-2 rounded-3xl text-slate-50 hover:bg-dribble-night/20">
        Behance
      </a>
      <a href="https://github.com/naissky" target="_blank" class="transition bg-dribble-night px-4 py-2 rounded-3xl text-slate-50 hover:bg-dribble-night/20">
        Github
      </a>
    </div>
  </div>
</div>
